### Codeception ###
/tests/_output/*
/tests/_support/_generated/

### Composer ###
/vendor/
/composer.lock

### PhpStorm ###
/.idea/

### composer release:build ###
/release/

### PHPStan ###
/wordpress/
