parameters:
    level: max
    paths:
        - %rootDir%/../../../src
    autoload_directories:
        - %rootDir%/../../../wordpress

    autoload_files:
        - %rootDir%/../../../wordpress/wp-includes/plugin.php

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
